In [2]:
from plotly.offline import plot
from plotly.offline import iplot
import plotly.graph_objs as go
import pandas as pd
import numpy as np

# Basic Line Plot

In [3]:
N = 500
x = np.linspace(0, 1, N)
y = np.random.randn(N)
df = pd.DataFrame({'x': x, 'y': y})
df.head()

          x         y
0  0.000000  0.633840
1  0.002004 -1.830364
2  0.004008  1.569006
3  0.006012  1.028669
4  0.008016 -0.308182

In [4]:
data = [
    go.Scatter(
    x=df['x'],
    y=df['y'])
]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

# Graph & Axes Titles

In [11]:
layout = go.Layout(
title="Scatter with Pandas",
    yaxis=dict(title='Random Distribution'),
    xaxis=dict(title='linspace()')
)

fig = go.Figure(data=data, layout=layout)

plot(fig)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

# Adding Trace Names

In [12]:
x2 = np.linspace(0, 1, N)
y2 = np.random.randn(N) + 3
df2 = pd.DataFrame({'x': x2, 'y': y2})
df2.head()

          x         y
0  0.000000  2.942813
1  0.002004  3.005305
2  0.004008  3.494584
3  0.006012  2.786607
4  0.008016  4.488282

In [13]:
data = [
    
    go.Scatter(
    x=df['x'],
    y=df['y'],
    name="Random around 0"),
    
    go.Scatter(
    x=df2['x'],
    y=df2['y'],
    name="Random around 3")
    
]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'