In [4]:
import pandas as pd
import numpy as np
from plotly.offline import plot
import plotly.graph_objs as go

# Basic horizontal bar chart

In [5]:
N = 20
x = np.linspace(0, 1, N)
y = np.abs(np.random.randn(N))
df = pd.DataFrame({'x': x, 'y': y})
df.head()

          x         y
0  0.000000  0.281262
1  0.052632  2.074166
2  0.105263  0.104480
3  0.157895  0.071242
4  0.210526  0.235557

In [6]:
data = [
    
    go.Bar(
    x=df['y'],
    y=df['x'],
    orientation='h')
]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

# Vertical Bar Chart

In [7]:
N = 40
x = np.linspace(0, 1, N)
y = np.random.randn(N)

df = pd.DataFrame({'x': x, 'y':y})
df.head()

          x         y
0  0.000000  1.361751
1  0.025641 -1.038428
2  0.051282 -0.072060
3  0.076923  0.498254
4  0.102564  1.017857

In [10]:
data = [
    go.Bar(
    x=df['x'],
    y=df['y'])
]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

In [11]:
data = [
    go.Bar(
    x=df['x'],
    y=df['y'],
    orientation='h')
]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

# Basic Multiple Bar Chart

In [12]:
N = 20
x = np.linspace(1, 10, N)
y = np.random.randn(N)+3
y2 = np.random.randn(N)+6
y3 = np.random.randn(N)+9
y4 = np.random.randn(N)+12
df = pd.DataFrame({'x': x, 'y': y, 
                   'y2':y2, 
                   'y3':y3, 'y4':y4})
df.head()

          x         y        y2         y3         y4
0  1.000000  3.069421  4.842720   7.847100  12.308193
1  1.473684  2.437770  4.562583   8.571523  12.410205
2  1.947368  3.178881  6.360815   7.567912  13.888705
3  2.421053  1.929359  6.422094   9.424996  12.562904
4  2.894737  2.719916  5.514151  10.684998  13.339433

In [13]:
data = [
    go.Bar(
        x=df['x'],
        y=df['y']
    ),
    go.Bar(
        x=df['x'],
        y=df['y2']
    ),
    go.Bar(
        x=df['x'],
        y=df['y3']
    ),
    go.Bar(
        x=df['x'],
        y=df['y4']
    )

]

layout = go.Layout(
       title='Multiple Bar with Pandas'
)

fig = go.Figure(data=data, 
                layout=layout)

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'

In [14]:
data = [
    go.Bar(
        x=df['x'],
        y=df['y'],
        orientation='h'
    ),
    go.Bar(
        x=df['x'],
        y=df['y2'],
        orientation='h'
    ),
    go.Bar(
        x=df['x'],
        y=df['y3'],
        orientation='h'
    ),
    go.Bar(
        x=df['x'],
        y=df['y4'],
        orientation='h'
    )

]

layout = go.Layout(
       title='Multiple Bar with Pandas'
)

fig = go.Figure(data=data, 
                layout=layout)

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'