In [5]:
import string
import pandas as pd
import numpy as np
from plotly.offline import plot
import plotly.graph_objs as go

# Basic Box Plot

In [6]:
N = 100
y_vals = {}
for letter in list(string.ascii_uppercase):
     y_vals[letter] = np.random.randn(N)+ (3*np.random.randn())
        
df = pd.DataFrame(y_vals)
df.head()

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,-1.964646,-4.466867,3.565756,-4.302372,3.263961,6.987239,-0.821187,-0.990697,3.204423,-2.387591,...,1.003782,1.250522,0.869929,2.514151,-2.282649,0.423559,-4.745189,3.743550,-0.810103,-3.654259
1,-1.607857,-4.156055,4.139712,-6.844911,2.378240,6.635907,-1.751850,-0.958748,1.212072,-3.389559,...,0.296827,1.287262,2.167019,2.637088,-3.799520,-1.323810,-2.399654,4.529842,-1.863800,-2.033523
2,-3.940752,-4.611882,5.185995,-6.681636,2.115286,5.823226,-2.198270,0.869894,-0.893876,-3.749635,...,0.440034,1.769635,0.137613,3.864998,-5.255050,0.205078,-1.926691,4.398311,-0.824601,-2.582000
3,-2.156777,-2.695254,6.499315,-6.810834,2.032231,6.654989,-1.417534,0.038420,-0.284226,-3.869374,...,0.122066,0.821921,0.811272,2.841574,-3.865864,-0.706612,-1.651727,3.826044,-1.673122,-1.887592
4,-2.634428,-4.043974,4.485595,-3.355399,2.489005,7.588512,-1.869783,-1.105766,-1.524839,-4.388763,...,-0.216724,1.321193,-0.446791,3.135817,-5.157794,2.051139,-2.687605,3.599698,-2.337136,-2.120425

In [8]:
data = []

for col in df.columns:
    data.append(  go.Box( y=df[col], 
                         name=col, 
                         showlegend=False ) )

data.append( go.Scatter( x = df.columns, 
                        y = df.mean(), 
                        mode='lines', 
                        name='mean' ) )

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'