In [1]:
from plotly.offline import plot
import plotly.graph_objs as go
import pandas as pd
import numpy as np

# Basic Histogram Pandas

In [2]:
N = 500
x = np.linspace(0, 1, N)
y = np.random.randn(N)
df = pd.DataFrame({'x': x, 'y': y})
df.head()

          x         y
0  0.000000 -1.703406
1  0.002004  0.455071
2  0.004008  0.661532
3  0.006012 -0.924487
4  0.008016 -0.806142

In [7]:
trace = go.Histogram(y=df['y'])

data = [trace]

plot(data)

'file://D:\\10 Python Data Science Masterclass\\CodeBundle\\Section 31 Pandas and Plotly\\temp-plot.html'